*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #444;
}

a {
  text-decoration: none;
  color: inherit;
}

header, section, footer {
  padding: 20px 0;
  border-bottom: 1px solid blueviolet;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
}

.clean-list {
  list-style: none;
  padding-left: 0;
}

.clean-list li {
  display: inline-block;
}

.flex-hijos {
  width: 100%;
  background: darkblue;
  height: 300px;
  margin-bottom: 30px;
  color: white;
}

@media screen and (min-width: 768px) {
  .flex-hijos {
    width: calc((100% / 2) - 15px);
  }
}
/* ESTILOS Flexbox */
/* usemos nuestra clase flex-container para dar estilos generales flex */
.flex-container {
  display: flex;
}
/*
Acomodar el header
1- los elementos tienen que estar justificados
2- los elementos tienen que estar centrados verticalmente
*/
header .flex-container {
  justify-content: space-between;
  align-items: center;
}

/*
Acomodar la sección 1.
1- los elementos tienen que estar uno abajo del otro.
2- no miden el 100% del contenedor.
3- estan alineados a la izquierda.
*/
#section-1 .flex-container {
  flex-direction: column;
  padding-right: 30%;
}


/*
Acomodar la sección 2
1- tiene que haber dos elementos por fila
2- los elementos que contengan tienen que estar centrados horizontal y verticalmente
*/
#section-2 .flex-container {
  flex-wrap: wrap;
  justify-content: space-between;
}

#section-2 .flex-hijos {
  display: flex;
  justify-content: center;
  /* text-align: center; */
  align-items: center;
}

/*
Acomodar la sección 3
1- deben ser 2 columnas
2- debe haber un espaco entre ellas.
*/

#section-3 .flex-container {
  justify-content: space-between;
}
#section-3 .flex-container div {
  width: calc((100% / 2) - 15px);
}
/*
Sección 3
La imagen de esta sección debe estar posicionada en relación a su contenedor
unos 60px desde arriba.
*/
.image-container {
  position: relative;
  min-height: 450px;
}
.image-container img {
  position: absolute;
  top: -60px;
  left: 0;
}

/*
Acomodar el footer
1- deben ser dos columnas
2- alineadas a la izquierda y a la derecha respectivamente
3- los elementos tienen que estar alineados verticalmente en el centro
*/

footer .flex-container {
  justify-content: space-between;
  align-items: center
}

footer .flex-container div {
  width: calc((100% / 2) - 15px);
}
.redes {
  text-align: right;
}
